In [38]:
from pathlib import Path
from product_bundle.dataset import read_dataset
from product_bundle.utils import load_product_df, load_all_bundles
import pickle

data_dir = Path("../data/")
df = read_dataset(data_dir)
product_df = load_product_df(data_dir)

with open(f"../static/content_bundles.pickle", "rb") as pickle_file:
    content_bundles = pickle.load(pickle_file)

with open(f"../static/rule_bundles.pickle", "rb") as pickle_file:
    rule_bundles = pickle.load(pickle_file)

with open(f"../static/collaborative_bundles.pickle", "rb") as pickle_file:
    collaborative_bundles = pickle.load(pickle_file)

actual_bundles = set(df.groupby(["InvoiceNo"])["StockCode"].apply(frozenset).to_list())

In [39]:
for bundle in list(rule_bundles)[:2]:
    display(product_df.loc[product_df["StockCode"].isin(bundle), ["Description"]])

                            Description
1780            jumbo bag pink polkadot
1792  jumbo shopper vintage red paisley

                    Description
1782    jumbo bag red retrospot
1784  jumbo bag spaceboy design

In [40]:
for bundle in list(collaborative_bundles)[:5]:
    display(product_df.loc[product_df["StockCode"].isin(bundle), ["Description"]])

                   Description
1774          jumbo bag apples
1789  jumbo bag vintage doily

                      Description
805   circus parade baby gift set
1040     dolly girl baby gift set

                           Description
1856  large purple babushka notebook
1868   large yellow babushka notebook

                          Description
2663       recycled acapulco mat blue
2668  recycled acapulco mat turquoise

                          Description
501   blue stripe ceramic drawer knob
2749   red stripe ceramic drawer knob

In [41]:
for bundle in list(content_bundles)[:5]:
    display(product_df.loc[product_df["StockCode"].isin(bundle), ["Description"]])

                              Description
1323  folkart christmas tree t-light hold
1586    hanging  butterfly t-light holder

                          Description
722   childrens cutlery circus parade
806  circus parade childrens egg cup

                             Description
883   cream hanging heart t-light holder
1601   hanging heart zinc t-light holder

                           Description
3077  set of 4 green carousel coasters
3093        set of 4 polkadot coasters

                  Description
120   a pretty thank you card
3849  wrap a pretty thank you

In [33]:
for bundle in list(actual_bundles)[:2]:
    display(product_df.loc[product_df["StockCode"].isin(bundle), ["Description"]])

                            Description
238       assorted colour bird ornament
537      box of vintage alphabet blocks
911            cupcake lace paper set 6
1634          heart ivory trellis large
2658    recipe box pantry yellow design
2718           red retrospot mini cases
2759           regency cakestand 3 tier
3044  set of 3 cake tins pantry design
3050      set of 3 heart cookie cutters
3427       sweetheart recipe book stand
3517         traditional modelling clay
3753    white jewelled heart decoration
3847               wrap  vintage doily
3850               wrap alphabet design
3879           wrap vintage leaf design

                              Description
85              4 sky blue dinner candles
330           big doughnut fridge magnets
1129              edwardian parasol black
1131            edwardian parasol natural
1329     food container set 3 love heart
1771       jumbo  bag baroque black white
1780              jumbo bag pink polkadot
1782              jumbo bag red retrospot
1783  jumbo bag scandinavian blue paisley
1784            jumbo bag spaceboy design
1787                      jumbo bag toys
1791           jumbo bag woodland animals
1844         large circular mirror mobile
1986   make your own flowerpower card kit
2139      natural slate chalkboard large
2201        orange scented set/9 t-lights
2218   overnight bag vintage rose paisley
2577                   polkadot rain hat
2642           queen of skies luggage tag
2721      red retrospot oven glove double
2739                red retrospot washbag
2746               red spotty biscuit tin
2751        red toadstool led night light
2970              set 10 night owl lights
3102             set of 6 cake chopsticks
3159   set/3 red gingham rose storage box
3468  teatime funky flower backpack for 2
3510           toy tidy dolly girl design
3511               toy tidy pink polkadot
3597          victorian sewing box medium
3812    wooden picture frame white finish